deploymentMode: SingleBinary
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  limits_config:
    volume_enabled: true
  schemaConfig:
    configs:
      - from: "2025-01-01"
        store: tsdb
        index:
          prefix: loki_index_
          period: 24h
        object_store: filesystem
        schema: v13
  memberlist:
     service: null
     join_members: []
     max_join_backoff: 0s
     max_join_retries: 0
     min_join_backoff: 0s
singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClassName: longhorn
    accessModes:
      - ReadWriteOnce
    size: 10Gi
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
image:
  registry: docker.io
  repository: grafana/loki
  tag: 3.4.2
monitoring:
  dashboards:
    enabled: true
  rules:
    enabled: true
  serviceMonitor:
    enabled: true
gateway:
  enabled: false
chunksCache:
  enabled: false 
